# CMake configured files
src/Open3D/Open3D.h
src/Open3D/Open3DConfig.h
src/Open3D/Visualization/Shader/Shader.h
util/pip_package/setup.py

# Temp directories
build*/
cmake-build-debug/
cmake-build-release/
docs/_out/
util/pip_package/dist/
util/conda_package/dist/
doxygen/
docs/python_api/
node_modules/

# Local configs
_vimrc_local.vim
.vs/
.vscode/

# Build artifacts
**/package-lock.json
*.pyc
__pycache__
._*
.DS_Store
.vscode
.idea
*.egg-info/
*.ipynb_checkpoints/
*.py[cod]
*.bak
node_modules/
static/
*.old*
compile_commands.json

# Example resources
examples/Python/ReconstructionSystem/dataset/
examples/TestData/Armadillo.ply
examples/TestData/Bunny.ply
examples/TestData/voxelized.ply
examples/Python/Basic/voxel_grid_test.ply
examples/Python/Benchmark/testdata/
examples/Python/Misc/test.jpg
examples/TestData/GraphOptimization/pose_graph_example_fragment_optimized.json
examples/TestData/GraphOptimization/pose_graph_example_global_optimized.json
examples/TestData/depth/
examples/TestData/image/
examples/TestData/sync.ply
examples/TestData/sync.png
examples/Python/Advanced/multiway_registration.pcd
examples/Python/Advanced/test.json
examples/Python/Advanced/viewpoint.json
examples/Python/Basic/copy_of_fragment.pcd
examples/Python/Basic/copy_of_knot.ply
examples/Python/Basic/copy_of_lena_color.jpg
examples/Python/Basic/copy_of_crate.mtl
examples/Python/Basic/copy_of_crate.png
examples/Python/Basic/copy_of_crate.obj
