build/
build10/
build11/
build12/
build13/
build14/
build15/
build-xcode/
build-gcc/
build-llvm/
build-dep/
build14-rdp/
src/Sandbox/
src/Visualization/Shader/Shader.h
_build/
doxygen/
.vs/
src/Open3DConfig.h
util/pip_package/setup.py
open3d*.so
open3d*.pyd
__init__.pyc
__pycache__
._*
.DS_Store
