[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "3rdparty/eigen-git-mirror"]
	path = 3rdparty/Eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "3rdparty/qhull"]
	path = 3rdparty/qhull
	url = https://github.com/qhull/qhull.git
	branch = master
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
	branch = master
[submodule "3rdparty/tinyobjloader"]
	path = 3rdparty/tinyobjloader/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
	branch = master
[submodule "3rdparty/open3d_sphinx_theme"]
	path = 3rdparty/open3d_sphinx_theme
	url = https://github.com/intel-isl/open3d_sphinx_theme.git
[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "3rdparty/tinygltf"]
	path = 3rdparty/tinygltf/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "3rdparty/libjpeg-turbo/libjpeg-turbo"]
	path = 3rdparty/libjpeg-turbo/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "3rdparty/PoissonRecon/Open3D-PoissonRecon"]
	path = 3rdparty/PoissonRecon/PoissonRecon
	url = https://github.com/intel-isl/Open3D-PoissonRecon.git
[submodule "3rdparty/cutlass"]
	path = 3rdparty/cutlass
	url = https://github.com/NVIDIA/cutlass
[submodule "3rdparty/benchmark"]
	path = 3rdparty/benchmark
	url = https://github.com/google/benchmark.git
