build*/
_build/
src/Sandbox/
src/Visualization/Shader/Shader.h
doxygen/
.vs/
.vscode/
src/Open3DConfig.h
util/pip_package/setup.py
open3d*.so
open3d*.pyd
*.pyc
__pycache__
._*
.DS_Store
.vscode
.idea
util/pip_package/dist/
util/conda_package/dist/
