# Main library
graft open3d

# Jupyter
graft js
prune **/node_modules

# Unit tests
graft test

# Misc
include README.rst
include LICENSE.txt
include requirements.txt
include open3d.json
include setup.py
include pyproject.toml
include install.json

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude *.map
