graft open3d/nbextension
graft open3d/labextension

graft js
graft tests
prune **/node_modules

include open3d.json

include LICENSE
include setup.py
include pyproject.toml
include install.json

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude *.map
