# ----------------------------------------------------------------------------
# -                        Open3D: www.open3d.org                            -
# ----------------------------------------------------------------------------
# Copyright (c) 2018-2024 www.open3d.org
# SPDX-License-Identifier: MIT
# ----------------------------------------------------------------------------

# Main library, including compiled binaries
graft open3d
graft js
prune **/node_modules
graft test

# Misc
include README.rst
include LICENSE.txt
include requirements.txt
include open3d.json
include setup.cfg
include setup.py
include pyproject.toml
include install.json

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude *.map
