pytest==7.1.2
pytest-randomly==3.8.0
scipy==1.10.1; python_version < "3.12"
scipy==1.11.4; python_version >= "3.12"
tensorboard==2.13.0; python_version < "3.12"
tensorboard==2.16.2; python_version >= "3.12"
oauthlib==3.2.2
certifi==2024.7.4
